<div class="d-flex justify-content-center align-items-center min-vh-100 bg-success">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-6 col-lg-4">
        <div class="glass-card text-dark p-4 p-md-5 rounded-4 shadow-lg">
          <h2 class="text-center text-primary fw-bold mb-3">Sign Up</h2>
          <p class="text-center text-secondary mb-4">Create an account to get started</p>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="mb-3">
              <%= f.input :email, required: true, autofocus: true,
                input_html: { autocomplete: "email", class: "form-control input-style py-2 rounded-3 text-dark border-secondary" } %>
            </div>

            <div class="mb-3">
               <%= f.input :password, required: true,
                  hint: ("<span style='color: black;'>#{@minimum_password_length} characters minimum</span>".html_safe if @minimum_password_length),
                 input_html: { autocomplete: "new-password", class: "form-control input-style py-2 rounded-3 text-dark border-secondary" } %>
              </div>

            <div class="mb-3">
              <%= f.input :password_confirmation, required: true,
                input_html: { autocomplete: "new-password", class: "form-control input-style py-2 rounded-3 text-dark border-secondary" } %>
            </div>

            <div class="d-grid">
              <%= f.button :submit, "Sign up", class: "btn btn-primary fw-bold py-2 rounded-3 shadow-sm btn-hover" %>
            </div>

            <div class="text-center mt-3">
              <%= render "devise/shared/links" %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
