
<div class="fixed-top p-3">
  <div class="d-flex justify-content-end">
    <div class="">
      <%= link_to edit_user_registration_path do %>
        <%= image_tag "#{current_user.avatar}.png", size: "60x60" %>
      <% end %>
    </div>
  </div>
</div>


<div id=map data-controller="mapforshow" class="whole-map">
</div>

<div class="fixed-bottom">
  <div class="d-flex justify-content-center">
    <button class="octagonal-btn-sm btn btn-info m-1" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true"></button>
  </div>
  <div class="collapse show" id="collapseExample">
    <div class="polygon bg-primary p-0 pt-1">
      <div class="polygon bg-success mx-1 mt-1 p-5">
        <%= simple_form_for @ride do |r| %>

          <!-- Pickup Field -->
          <div class="form-group mb-4">
            <%= r.label :pickup, "Local de Partida", class:"form-label fw-semibold text-dark text-uppercase" %>
            <%= r.input :pickup,
              input_html: {
                data: { address_autocomplete_target: "address" },
                class: "form-control d-none",
                value: ""
              },
              wrapper_html: { data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] }, class: "" }
            %>
          </div>

          <!-- Dropoff Field -->
          <div class="form-group mb-4">
            <%= r.label :dropoff, "Destino", class:"form-label fw-semibold text-dark text-uppercase" %>
            <%= r.input :dropoff,
              input_html: { data: { address_autocomplete_target: "address" }, class: "form-control d-none", value: "" },
              wrapper_html: { data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] }, class: "" }
            %>
          </div>

          <!-- Submit Button -->
          <div class="">
            <div class="text-center mt-4">
            <%= r.submit "Bora!", class: "octagonal-btn btn btn-primary px-5 shadow fw-bold text-uppercase" %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
