<div class="bg-image">
  <div class="octagonal bg-primary m-5 p-1 align-middle">
    <div class="octagonal bg-success m-1 p-4 align-middle">
      <%= simple_form_for @ride do |r| %>

        <!-- Pickup Field -->
        <div class="form-group mb-4">
          <%= r.label :pickup, "Local de Partida", class:"form-label fw-semibold text-dark text-uppercase" %>
          <%= r.input :pickup,
            input_html: {
              data: { address_autocomplete_target: "address" },
              class: "form-control d-none",
              value: ""
            },
            wrapper_html: { data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] } }
          %>
        </div>

        <!-- Dropoff Field -->
        <div class="form-group mb-4">
          <%= r.label :dropoff, "Destino", class:"form-label fw-semibold text-dark text-uppercase" %>
          <%= r.input :dropoff,
            input_html: { data: { address_autocomplete_target: "address" }, class: "form-control d-none", value: "" },
            wrapper_html: { data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] } }
          %>
        </div>

        <!-- Submit Button -->
        <div class="">
          <div class="text-center mt-4">
          <%= r.submit "Bora!", class: "octagonal-btn btn btn-primary px-5 shadow fw-bold text-uppercase" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>

