<div class=".container content-middle p-3 bg-primary">
  <div class="bg-success octagonal text-center content-middle p-1">
    <div class="octagonal bg-primary p-1 m-1">
      <h3 class="text-success"><%= @pickup_location %> - <%= @dropoff_location %></h3>
    </div>
  </div>
</div>





  <!-- Mapa -->
    <div data-controller="map" id="map" class="map-container"
         data-map-origin-value="<%= @origin.to_json %>"
         data-map-destination-value="<%= @destination.to_json %>"
         data-map-drive-value="<%= @drive_polyline %>"
         data-map-transit-value="<%= @transit_polyline %>"
         data-map-key-value="<%= ENV["MAPS_KEY"] %>">
    </div>
